# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=utkalskillcentre-admin.firebasestorage.com
TEXTBOOK_STORAGE_BUCKET=utkalskillcentre-admin
FIRESTORE_DATABASE_ID=ai-studio-2a24dfcb-5874-4b37-8e37-434f425283b9
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_SERVICE_ACCOUNT_JSON=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_ID=ai-studio-2a24dfcb-5874-4b37-8e37-434f425283b9
VITE_FIREBASE_STORAGE_BUCKET=utkalskillcentre-admin.firebasestorage.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_GEMINI_API_KEY=
GEMINI_API_KEY=
GOOGLE_DRIVE_CLIENT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_APPLICATION_CREDENTIALS=
VITE_RAZORPAY_KEY_ID=
