rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && (
        (request.auth.token.email == "pandadamayanti01@gmail.com") ||
        (request.auth.token.phone_number == "+919337956168") ||
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin'
      );
    }

    match /textbooks/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
